* {
    margin: 0;
    padding: 0;
}

/* Utility Classes */
.bg-main {
    background: #ffbc00;
    color: #fff;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #000;
}

.bg-medium {
    background: #ccc;
    color: #000;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.py-4 {
    padding: 4rem 0;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 2rem 0;
}

.my-3 {
    margin: 3rem 0;
}

.my-4 {
    margin: 4rem 0;
}

.container {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

.bottom-line {
    height: 2px;
    width: 3rem;
    background: #ffbc00;
    display: block;
    margin: 0 auto 1rem auto;
}

body {
    font-family: "Dosis", "sans-serif";
    line-height: 1.6;
    background: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* NavBar */
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

#main-nav ul {
    display: flex;
}

#main-nav li {
    padding: 1rem 1.5rem;
}

#main-nav a {
    text-decoration: none;
    color: #ccc;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;
}

#main-nav a:hover {
    border-color: #ccc;
}

#main-nav a.current {
    border-color: #ffbc00;
}

/* Header */
#header-inner {
    background: #333;
    height: 5.5rem;
    border-bottom: 3px solid #ffbc00;
}

/* Section: Specialties */
#specialties {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

.specialty-1 {
    display: flex;
    justify-content: center;
    height: auto;
}

#specialty-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#specialty-1 p {
    text-align: center;
}

.picture-1 {
    justify-self: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
}

.specialty-2 {
    display: flex;
    justify-content: center;
    height: auto;
}

#specialty-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picture-2 {
    justify-self: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
}

.specialty-3 {
    display: flex;
    justify-content: center;
    height: auto;
}

#specialty-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picture-3 {
    justify-self: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
}

/* Footer */
#main-footer {
    background: #333;
    color: #fff;
    height: 5rem;
    align-items: center;
}

#main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
}

#main-footer .footer-content .social .fab {
    margin-right: 1rem;
    border: 2px #fff solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0.5rem;
}

#main-footer .footer-content .social .fab:hover {
    background: #ffbc00;
}